@import "tailwindcss";


body {
    @apply bg-neutral-900;
}

nav li a {
    @apply text-white hover:text-blue-400;
}

h1 {
    @apply text-shadow-blue-200 text-4xl font-extrabold text-blue-400 ;
}
p {
    @apply text-white;
}
form {
    @apply space-y-4 text-blue-200;
}
input {
    @apply w-full px-3 py-2 border border-gray-300 rounded bg-neutral-600;
}

.sheen:hover {
    @apply bg-linear-to-r from-green-600 via-green-500 to-green-600;
    background-size: 200% auto;
    animation: sheen 5s linear infinite;
}
.sheen {
    @apply bg-linear-to-r from-green-800 via-green-600 to-green-800;
    background-size: 200% auto;
    animation: sheen 5s linear infinite;
}
.sheen:active {
    @apply bg-linear-to-r from-green-900 via-green-700 to-green-900;
    background-size: 200% auto;
    animation: sheen 5s linear infinite;
}   

@keyframes sheen {
    0% {
        background-position: 200% center;
    }
    100% {
        background-position: -200% center;
        
    }
}

